{% extends "base.html" %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ object.id }}</h2>
                </div>
                <div class="panel-body">
                    <h4>Age: {{ object.age }}</h4>
                    <h4>Gender: {{ object.gender }}</h4>
                    <h4>Occupation: {{ object.occupation }}</h4>
                    <h4>Zip Code: {{ object.zipcode }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}